<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <title>Image </title>
<!-- -->
<%- include("partials/head") %>
</head>

<body>
<!-- -->
<%- include("partials/navigation") %>

<style>
   body {
      background: #fff;
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
      font-size: 14px;
      color: #000;
      margin: 0;
      padding: 0;
    }

    .swiper-container {
      width: 100%;
      height: 70vhS;
      padding-top: 50px;
      padding-bottom: 50px;
    }

    .swiper-slide {
      background-position: center;
      background-size: cover;
      width: 300px;
      height: 500px;

    }
</style>
   
<!-- Imprime un slider de imagenes -->
   
<!-- Slider main container -->      
  <div class="swiper-container">
    <div class="swiper-wrapper">
        <% images.forEach(function(image) { %>
            <img src="<%= image.imageURL %>" alt="" class="swiper-slide ">
        <% }) %>
        ... 
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
  </div>
<!-- Imprime una matriz con el arreglo de imagenes  estilo card-colums de bootstrap -->
    <div class="container p-4">
        <div class="row">
            <div class="card-columns">
                <% images.forEach(function(image) { %>
                <!-- Utiliza el método fadeIn de animate.css -->
                <div class="card animated fadeIn">
                    <!-- Se pide la direccion de la imagen y la imprime -->
                    <img src="<%= image.imageURL %>" class="card-img-top" alt="<%= image.filename %>">
                    <div class="card-body">
                        <!-- Dentro de la imagen que se está iterando se pide la propiedad titulo y description-->
                        <h6 class="card-title"><%= image.title %></h6>
                        <p class="card-text"><%= image.description %></p>
                        <!-- Se imprime la propiedad created_at la cúal imprime la fecha de creación, y se le da formato -->
                        <p class="card-text"><%= format(image.created_at) %></p>
                        <!-- Se colocá un boton para ver un formulario de la imagen-->
                        <a href="/image/<%= image._id %>" class="btn btn-primary">
                           View 
                        </a>
                    </div>
                </div>
                <% }) %>
            </div>
        </div>
    </div>
<!-- Imprime imagenes solamente sin ninguna información -->
    <div class="container p-4">
        <div class="row">
            <div class="card-columns">
                <% images.forEach(function(image) { %>
                <div class="card animated fadeInDown">
                    <img src="<%= image.imageURL %>" class="card-img" alt="<%= image.filename %>">
                </div>
                <% }) %>
            </div>
        </div>
    </div>


        <!-- SCRIP SWIPER -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.5.0/swiper-bundle.min.js" integrity="sha512-VfcksjYXPZW36rsAGxeRGdB0Kp/htJF9jY5nlofHtRtswIB+scY9sbCJ5FdpdqceRRkpFfHZ3a9AHuoL4zjG5Q==" crossorigin="anonymous"></script>

    
    <script>
    var swiper = new Swiper('.swiper-container', {
      effect: 'coverflow',
      grabCursor: true,
      centeredSlides: true,
      slidesPerView: 'auto',
      coverflowEffect: {
        rotate: 50,
        stretch: 0,
        depth: 100,
        modifier: 1,
        slideShadows: true,
      },
      pagination: {
        el: '.swiper-pagination',
      },
    });
    </script>


</body>

</html>