<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Profile</title>
    <!-- -->
    <%- include("partials/head") -%>
</head>
<body>
    <%- include("partials/navigation") %>
<!-- Imprime una matriz con el arreglo de imagenes  estilo card-colums de bootstrap -->

    <div class="container p-4">
        <div class="row">
            <div class="col-md-4 offset-md-4">
                <!-- Utiliza el método fadeIn de animate.css -->
                <div class="card animated fadeIn">
                    <!-- Se pide la direccion de la imagen y la imprime -->
                    <img src="<%= image.imageURL %>" class="card-img-top" alt="<%= image.filename %>">
                    <div class="card-body">
                        <!-- Dentro de la imagen que se está iterando se pide la propiedad titulo y description-->
                        <h6 class="card-title"><%= image.title %></h6>
                        <p class="card-text"><%= image.description %></p>
                        <!-- Se imprime la propiedad created_at la cúal imprime la fecha de creación, y se le da formato -->
                        <p class="card-text"><%= format(image.created_at) %></p>
                        <!-- Se colocá un boton para ver un formulario de la imagen-->
                        <a href="/image/<%= image._id %>/delete" class="btn btn-danger btn-block">
                        Delete image
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>